body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	/* xếp dọc */
	background: linear-gradient(to bottom right, #00558D, #ffffff);
}

.main-content {
	flex: 1;
	/* chiếm hết chiều cao còn lại để đẩy footer xuống */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.reset-card {
	max-width: 420px;
	width: 100%;
	padding: 2rem;
	border-radius: 1rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	background: #fff;
	text-align: center;
}

.reset-card h4 {
	margin-bottom: 1.5rem;
	font-weight: bold;
	color: #333;
}

.reset-card .form-control {
	height: 50px;
	border-radius: 0.5rem;
}

.reset-card .btn {
	height: 50px;
	font-weight: 600;
	border-radius: 0.5rem;
}

.back-btn {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 30px;
	color: #00558D;
	text-decoration: none;
	margin-bottom: 1rem;
	/* tạo khoảng cách với tiêu đề */
	width: fit-content;
	/* chỉ chiếm chỗ icon */
}

.back-btn:hover {
	opacity: 0.4;
}