html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom left, #00558D, #ffffff);
}
.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-card {
  max-width: 460px;
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
}