
/* Mặc định: chữ trắng, icon xám */
.nav-link {
	text-decoration: none;
    color: #ffffff !important;
    display: flex;
    align-items: center;
    gap: 0.9rem;           /* khoảng cách giữa icon và chữ */
}
.nav-link i {
    color: white;
}

/* Hover: nền xám nhạt, chữ + icon xanh */
.nav-link:hover {
    background-color: #f0f0f0;
    color: #00558D !important;
}
.nav-link:hover i {
    color: #00558D !important;
}

/* Active: nền xanh nhạt, chữ + icon xanh */
.nav-link.active {
    background-color: #e0f0ff;
    color: #00558D !important;
}
.nav-link.active i {
    color: #00558D !important;
}
